*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font: normal bold 16px/normal tahoma;
}

article{
  width:300px;
  text-align: center;
  background-color: #69b04d;
  border-radius: 10px;
  margin: 50px auto 20px;
  padding: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 10px #ccc;
}

article h3{
  padding: 10px;
  color: #fff;
}

article .count{
  padding: 5px;
}

article #timer{
  padding: 5px;
  color: crimson;
  background-color: aliceblue;
  border-radius: 2px;
}